<nav class="bg-dark pt-3 pb-3 right">
    <a class="m-3 text-white text-decoration-none" href="/article"><img src="https://img.icons8.com/ios/50/000000/circled-left-2.png"/></a>
    <a class="m-3 text-white text-decoration-none" href="/">Accueil</a>
    <a class="m-3 text-white text-decoration-none" href="/article">Article<span class="sr-only">(current)</span></a>
    <a class="m-3 text-white text-decoration-none" href="/category">Catégorie</a>
</nav>